/*Boton Login*/
.colorBoton .button-round-md {
    color: #f5f5f5;
    background-color: #5c6bc0;
    
}
.colorBoton .button-round-md:active {
    color: #f5f5f5;
    background-color: #313b75;
    
    
}
.botonCamara .button-large-md {
    height: 261px;
    margin-bottom: -2px;
    font-size: 2rem;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}
.fondo{
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #c5cbcc, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #c5cbcc, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
//style="color: black"  color="lindas"
//  feas:       rgba(205, 220, 57, 0.7),
//lindas:     rgba(3, 169, 244, 0.7)
.btnLindas{
    //box-shadow: 1px 1px 18px 2px rgb(63, 63, 63);
    background-color: rgba(3, 169, 244, 0.7);
    color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btnLindas:hover{
    background-color: rgba(5, 113, 163, 0.7);
    //box-shadow: 1px 1px 18px 2px #000;
    //transform: translateY(4px);
}
.btnLindas:active {
    background-color: rgba(5, 113, 163, 0.7);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.btnLindas:hover:not(.disable-hover) {
    background-color: rgba(5, 113, 163, 0.7);
}

.btnFeas{
    background-color: rgba(205, 220, 57, 0.7);
    color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btnFeas:hover{
    background-color: rgba(140, 153, 24, 0.7);
}
.btnFeas:active {
    background-color: rgba(140, 153, 24, 0.7);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.btnFeas:hover:not(.disable-hover) {
    background-color: rgba(140, 153, 24, 0.7);
}


page-home {





}
